node_modules
vendor
.env
.env.backup
storage/*.key
.idea
.vscode
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
README.md
phpunit.xml
tests
bootstrap/cache/*.php
hot
npm-debug.log
yarn-error.log
